# Dumbdo - Simple Todo App
# https://github.com/dumbwareio/dumbdo

# Timezone
TZ=America/New_York

# Hostname
BASE_HOST_NAME=localhost

# App settings
APP_ORG_NAME=Dumbdo
APP_SECRET_PIN=changeme_pin_4_digits
